html, body {
    height: 100%; padding: 0; margin: 0;
  }
  /*GInput*/
  .g-input-box > .g-input {
    border: 1px solid #666;
  }
  .g-input-box.error > .g-input {
    border: 1px solid #f00;
  }
  .g-input-box.error > .error-msg, .g-input-box.error > .g-input {
    color: #f00;
  }
  /*GSelect*/
  .hidden {
    display: none;
  }
  .g-input {
    display: block; box-sizing: border-box; width: 100%;
  }
  .select-outer {
    border: 1px solid #666;
    border-radius: 4px;
  }
  .select-box, .select-outer {
    position: relative; display: inline-block;cursor: pointer; width: 100%;
  }
  .select-box > .g-input-box > .g-input {
    cursor: pointer; border: 0; line-height: 40px; height: 40px; padding: 0; margin: 0;
  }
  .select-box > .g-input-box{
    /* padding-right: 22px; */
  }
  .sel-down-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    img{
      width: 100%;
      height: 100%;
    }
  }
  /* 禁止选中文本，双击arrow的时候，有时候会把下拉框中的文本选中，禁止arrow文本选中，可以避免这种发生这种情况 */

  .down-list-box {
    position: absolute;left: -1px; width: 100%; z-index: 999;
    background-color: #fff; border: 1px solid #666;
  }
  .down-list-box > p {
    line-height: 32px; padding: 0; text-align: center; margin: 0;
  }
  .data-ul {
    line-height: 30px; 
    max-height: 150px; 
    overflow-y: auto;
    list-style:none;
  }
  .data-ul li{
      color: black;
      text-align: left;
  }
  .data-ul > li:hover, .data-ul > li.checked {
    background-color: rgb(211, 208, 208);
  }
  .select-outer.error {
    border: 1px solid #f00;
  }
  .select-outer.error .g-input {
    color: #f00;
  }
  .select-outer > .error-msg {
    position: absolute; top: 100%; left: 0; width: 100%; line-height: 20px; color: #f00; font-size: small; z-index: 9;
  }
  ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }